<!-- Home html -->
{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% block title %}Mahsulotlar{% endblock %}
{% block content %}

    <div>
      <img style="width: 100%;" src="/media/redone-red-wax-travel-size-banner.png" alt="">
    </div>
    <div class="categories-and-Products">
      <div class="category">
       
        <div class="container">
          <h2>
            {% trans "Kategoriyalar" %}
          </h2>
          <div class="slider">
            <div class="item">
              <img src="/media/category_hair_mobile.webp" alt="Image 2">
              <p> {% trans "Hair Styling" %}
                <span class="icon-wrap">
                  <svg style="width: 15px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false"
                    class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
                      fill="currentColor"></path>
                  </svg>
                </span>
              </p>
            </div>
            <div class="item">
              <img src="/media/skincare_category.png" alt="Image 1">
              <p> Skin Care
                <span class="icon-wrap">
                  <svg style="width: 15px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false"
                    class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
                      fill="currentColor"></path>
                  </svg>
                </span>


              </p>
            </div>

            <div class="item">
              <img src="/media/wax_category.jpg" alt="Image 3">
              <p>Wax
                <span class="icon-wrap">
                  <svg style="width: 15px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false"
                    class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
                      fill="currentColor"></path>
                  </svg>
                </span>


              </p>
            </div>
            <div class="item">
              <img src="/media/spray.webp" alt="Image 5">
              <p>Spray
                <span class="icon-wrap">
                  <svg style="width: 15px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false"
                    class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
                      fill="currentColor"></path>
                  </svg>
                </span>


              </p>
            </div>
                
              <div class="item">
                <a href="{% url 'products' %}">
                <img src="/media/redist.png" alt="Image 4">
                <p>Ayollar uchun
                  <span class="icon-wrap">
                    <svg style="width: 15px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false"
                      class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
                        fill="currentColor"></path>
                    </svg>
                  </span>
                </p>
              </a>
              </div>
          </div>
        </div>



      </div>

      <div class="Products">
        <h2>{% trans "Mashhur" %}
        </h2>
        <div class="container">
          <ul class="slider">
            {% for product in top_products %}
            <a href="{% url 'product_detail' product.id %}" class="item-product" >
              <div class="item-img-wrapper">
                <img src="{{product.image.url}}" alt="Image 5">
              </div>
              <p>{{product.name_uz}}
                <span class="icon-wrap">
                  <svg style="width: 15px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false"
                    class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
                      fill="currentColor"></path>
                  </svg>
                </span>


              </p>
              
          <p style="color: #777; font-size: 12px;">{{product.price1}} sum</p>
            </a>
            {% endfor %}
          </ul>
        </div>

        <div style=" display: flex; justify-content: center;">
          <a href="{% url 'products' %}">
            <button class="view-all" type="submit">
              {% trans "Yana ko'rish" %}
            </button>
          </a>
        </div>
      </div>


    </div>
  </div>

  <div id="about" class="about-us">
    <div class="about-big">
      <div class="about-img" style="overflow: hidden;">
        <img src="/media/LV3_Images_B_3.webp" alt="a man with green and blue hair"
          srcset="//lv3.com/cdn/shop/files/LV3_Images_B_3.jpg?v=1739226725&amp;width=165 165w, //lv3.com/cdn/shop/files/LV3_Images_B_3.jpg?v=1739226725&amp;width=360 360w, //lv3.com/cdn/shop/files/LV3_Images_B_3.jpg?v=1739226725&amp;width=535 535w, //lv3.com/cdn/shop/files/LV3_Images_B_3.jpg?v=1739226725&amp;width=750 750w, //lv3.com/cdn/shop/files/LV3_Images_B_3.jpg?v=1739226725&amp;width=1070 1070w, //lv3.com/cdn/shop/files/LV3_Images_B_3.jpg?v=1739226725&amp;width=1500 1500w"
          width="1500" height="1941" loading="lazy" sizes=" 
                  " data-ac-alt-type="image">
      </div>

      <div class="about-content">
        <div
          class="about-span image-with-text__content image-with-text__content--middle image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--large content-container background-transparent">
          <p class="image-with-text__content">
            Red One
          </p>
          <h2 class="image-with-text__heading about-heading">
            {% trans "Biz haqimizda!" %}
          </h2>
          <div class="image-with-text__text">
            <p class="about-text">{% trans "Biz sizga taqdim etayotgan RedOne — dunyo bo‘yicha mashhur Turkiyada ishlab chiqariluvchi erkaklar uchun soch va tashqi ko‘rinish parvarishiga ixtisoslashgan professional brenddir. RedOne mahsulotlari yuqori sifati, kuchli fiksatsiyasi, yoqimli hidi va zamonaviy dizayni bilan ajralib turadi." %}</p>
          </div>
          <a href="{% url 'products' %}" class="button button--secondary">
            {% trans "Harid qilish" %}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="Products">
    <h2>{% trans "Yangi Mahsulotlar" %}
    </h2>
    <div class="container">
      <ul style="margin: 15px 0;" class="slider">

        {% for product in last_products %}
        <a href="{% url 'product_detail' product.id %}" class="item-product" >
          <div class="item-img-wrapper">
            <img src="{{product.image.url}}" alt="Image 5">
          </div>
          <p>
            {% if LANGUAGE_CODE == "uz" %}
                {{ product.name_uz }}
            {% elif LANGUAGE_CODE == "ru" %}
                {{ product.name_ru }}
            {% else %}
                {{ product.name_uz }} {# Default holatda uzbekcha chiqariladi #}
            {% endif %}

            <span class="icon-wrap">
              <svg style="width: 15px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false"
                class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
                  fill="currentColor"></path>
              </svg>
            </span>


          </p>
          <p style="color: #777; font-size: 12px;">{{product.price1}} {% trans "sum" %}</p>
        </a>
        {% endfor %}
      </ul>
  </ul>
  <div style=" display: flex; justify-content: center;">
    <a href="{% url 'products' %}">
      <button class="view-all" type="submit">
        {% trans "Yana ko'rish" %}
      </button>
    </a>
  </div>

    </div>
  </div>
  {% endblock %}