{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RedOne</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/footer.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="base">
    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar sticky-top">
      <a class="navbar-brand" href="#">RedOne</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Bosh Sahifa</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              Kategoriyalar
            </a>
            <div class="dropdown-menu">
              {%for category in categories%}
                <a class="dropdown-item" href="{% url 'products' %}#{{category}}">{{category}}</a>
              {% endfor %}
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">Haqimizda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">Mahsulotlar</a>
          </li>
        </ul>
      </div>
    </nav>

    <div>
      <img style="width: 100%;" src="/media/redone-red-wax-travel-size-banner.png" alt="">
    </div>
    <div class="categories-and-Products">
      <div class="category">
        <h2>Kategoriyalar
        </h2>
        <div class="container" style="margin: auto; width: 100%; max-width: 90%;">
          <div class="slider">
            <div class="item">
              <img src="/media/category_hair_mobile.webp" alt="Image 2">
              <p> Hair Styling
                <span class="icon-wrap">
                  <svg style="width: 15px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false"
                    class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
                      fill="currentColor"></path>
                  </svg>
                </span>
              </p>
            </div>
            <div class="item">
              <img src="/media/skincare_category.png" alt="Image 1">
              <p> Skin Care
                <span class="icon-wrap">
                  <svg style="width: 15px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false"
                    class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
                      fill="currentColor"></path>
                  </svg>
                </span>


              </p>
            </div>

            <div class="item">
              <img src="/media/wax_category.jpg" alt="Image 3">
              <p>Wax
                <span class="icon-wrap">
                  <svg style="width: 15px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false"
                    class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
                      fill="currentColor"></path>
                  </svg>
                </span>


              </p>
            </div>
            <div class="item">
              <img src="/media/P1054875-2.webp" alt="Image 4">
              <p>Ayollar uchun
                <span class="icon-wrap">
                  <svg style="width: 15px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false"
                    class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
                      fill="currentColor"></path>
                  </svg>
                </span>


              </p>
            </div>
            <div class="item">
              <img src="/media/spray.webp" alt="Image 5">
              <p>Spray
                <span class="icon-wrap">
                  <svg style="width: 15px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false"
                    class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
                      fill="currentColor"></path>
                  </svg>
                </span>


              </p>
            </div>
          </div>
        </div>



      </div>

      <div class="Products">
        <h2>Mashhur
        </h2>
        <div class="container">
          <!-- {% for product in products %} 
           
          <div class="item-product"> 
            <img src="{{ product.image.url }}" alt="{{ product.name }}"> 
            <p> {{ product.name }} 
              <span class="icon-wrap"> 
                <svg style="width: 15px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg"> 
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path> 
                </svg> 
              </span> 
             
               
            </p> 
        </div> 
 
          {% endfor %} -->
          <ul style="margin: 15px 0;" class="products-category">
            <li style="padding: 0;" class="category-item">
              <div class="product-wrapper">
                {% for product in products %}
                <a class="category-product">
                  <div class="category-img-wrapper">
                    <img src="{{product.image.url}}" alt="Image 5">
                  </div>
                  <p class="category-p">{{product.name}}
                    <span class="icon-wrap">
                      <svg style="width: 15px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false"
                        class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
                          fill="currentColor"></path>
                      </svg>
                    </span>
                  </p>
                </a>
                {% endfor %}
              </div>
            </li>
          </ul>
        </div>

        <div style=" display: flex; justify-content: center;">
          <a href="{% url 'products' %}">
            <button class="view-all" type="submit">
              Yana ko'rish
            </button>
          </a>
        </div>
      </div>


    </div>
  </div>

  <div id="about" class="about-us">
    <div class="about-big">
      <div class="about-img" style="overflow: hidden;">
        <img src="/media/LV3_Images_B_3.webp" alt="a man with green and blue hair"
          srcset="//lv3.com/cdn/shop/files/LV3_Images_B_3.jpg?v=1739226725&amp;width=165 165w, //lv3.com/cdn/shop/files/LV3_Images_B_3.jpg?v=1739226725&amp;width=360 360w, //lv3.com/cdn/shop/files/LV3_Images_B_3.jpg?v=1739226725&amp;width=535 535w, //lv3.com/cdn/shop/files/LV3_Images_B_3.jpg?v=1739226725&amp;width=750 750w, //lv3.com/cdn/shop/files/LV3_Images_B_3.jpg?v=1739226725&amp;width=1070 1070w, //lv3.com/cdn/shop/files/LV3_Images_B_3.jpg?v=1739226725&amp;width=1500 1500w"
          width="1500" height="1941" loading="lazy" sizes=" 
                  " data-ac-alt-type="image">
      </div>

      <div class="about-content">
        <div
          class="about-span image-with-text__content image-with-text__content--middle image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--large content-container background-transparent">
          <p class="image-with-text__content">
            Red One
          </p>
          <h2 class="image-with-text__heading about-heading">
            Biz haqimizda!
          </h2>
          <div class="image-with-text__text">
            <p class="about-text">Biz sizga taqdim etayotgan RedOne — dunyo bo‘yicha mashhur Turkiyada ishlab
              chiqariluvchi erkaklar uchun soch va tashqi ko‘rinish parvarishiga ixtisoslashgan professional brenddir.
              RedOne mahsulotlari yuqori sifati, kuchli fiksatsiyasi, yoqimli hidi va zamonaviy dizayni bilan ajralib
              turadi. </p>
          </div><a href="/collections/kray" class="button button--secondary">
            Harid qilish
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="Products">
    <h2>Mashhur
    </h2>
    <div class="container">
      <ul style="margin: 15px 0;" class="products-category">
        <li style="padding: 0;" class="category-item">
          <div class="product-wrapper">
            {% for product in products %}
            <a class="category-product">
              <div class="category-img-wrapper">
                <img src="{{product.image.url}}" alt="Image 5">
              </div>
              <p class="category-p">{{product.name}}
                <span class="icon-wrap">
                  <svg style="width: 15px;" viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false"
                    class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
                      fill="currentColor"></path>
                  </svg>
                </span>
              </p>
            </a>
            {% endfor %}
          </div>
        </li>
      </ul>

    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>tashkilot</h4>
          <ul>
            <li><a href="#about">biz haqimizda</a></li>
            <li><a href="#">hizmatlarimiz</a></li>
            <li><a href="#">siyosat</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>yordam</h4>
          <ul>
            <li><a href="#">Telefon</a></li>
            <li><a href="#">Telegram</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>online dokon</h4>
          <ul>
            <li><a href="#">Mahsulotlar</a></li>
            <li><a href="#">kategoriyalar</a></li>
            <li><a href="#">Yuqoriga</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>bizga qo'shiling</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fas fa-phone"></i></a>

          </div>
        </div>
      </div>
    </div>
  </footer>

  </div>



</body>

</html>