<!-- Product-detail -->
{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% block title %}Mahsulotlar{% endblock %}
{% block content %}
<section class="detail">
  <div class="container">
    <div class="detail_container">
      <div class="detail-left">
        <img src="{{product.image.url}}" alt="">
      </div>
      <div class="detail-right">
        {% if LANGUAGE_CODE == "uz" %}
          <p class="detail-category">{{product.categgory.category_uz}}</p>
          <h3 class="detail-heading">{{product.name_uz}}</h3>
          <p class="detail-desc">{{product.about_uz}}</p>x


        {% if LANGUAGE_CODE == "ru" %}
          <p class="detail-category">{{product.categgory.category_ru}}</p>
          <h3 class="detail-heading">{{product.name_ru}}</h3>
          <p class="detail-desc">{{product.about_ru}}</p>
        {% else %}
          <p class="detail-category">{{product.categgory.category_uz}}</p>
          <h3 class="detail-heading">{{product.name_uz}}</h3>
          <p class="detail-desc">{{product.about_uz}}</p>
        {% endif %}

        <div class="sizes">
          <div class="size-box active" onclick="selectSize(this, '{{ product.formatted_price1 }}')">
            {{ product.size1 }}
          </div>

          {% if product.size2 %}
          <div class="size-box" onclick="selectSize(this, '{{ product.formatted_price2 }}')">
            {{ product.size2 }}
          </div>
          {% endif %}
        </div>

        <p class="price" id="price" data-price="{{ product.price1 }}">
          {{ product.formatted_price1 }} {% trans "sum" %}
        </p>        

        <div class="product-controls" id="controls-{{ product.id }}">
          <button
            type="button"
            class="add-to-cart-btn"
            data-id="{{ product.id }}"
            data-name="{{ product.name_uz|escapejs }}"
            data-image="{{ product.image.url|escapejs }}"
          >
            {% trans "Savatga qo‘shish" %}
          </button>
        </div>
        

      </div>
    </div>
  </div>
</section>

</div>
{% get_current_language as LANGUAGE_CODE %}
<script>
  let language = "{{ LANGUAGE_CODE }}";

  function selectSize(element, price) {
    document.querySelectorAll('.size-box').forEach(x => x.classList.remove('active'));
    element.classList.add('active');

    let currency = "so'm";
    if (language === "ru") currency = "сум";

    const priceTag = document.getElementById('price');
    priceTag.innerText = price + " " + currency;
    priceTag.dataset.price = price.replace(/\s/g, '').replace(/[^0-9.]/g, '');
  }

  function getSelectedPrice() {
    const raw = document.getElementById('price').dataset.price;
    return parseFloat(raw) || 0;
  }
</script>



{% endblock %}