*{ 
  padding: 0; 
  margin: 0; 
  box-sizing: border-box; 
} 

html { 
scroll-behavior: smooth; 
} 

body{ 
  margin: auto; 
} 

.navbar { 
  background-color: #000 !important; 
  position: fixed; 

} 

.sticky-top{ 
  padding: 20px !important; 

} 

.navbar .nav-link, 
.navbar .navbar-brand, 
.navbar .dropdown-item { 
  color: #fff !important; 
} 

.navbar-collapse{ 
  justify-content: end !important; 
} 
.navbar .nav-link:hover, 
.navbar .dropdown-item:hover { 
  color: #f39c12 !important; /* hover paytida sariq rang */ 
} 
.custom-navbar { 
  background-color: false !important; /* yarim shaffof qora fon */ 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
} 
.custom-navbar .nav-link, 
.custom-navbar { 
  color: #fff !important; 
} 

.dropdown-menu { 
  background-color: #000 !important; 
  color: #fff !important; 
} 
/* .base{ 
  text-align: center; 
} */ 
.navbar-brand{ 
  font-size: 25px !important; 
  color: #fff !important; 
} 
.categories-and-Products h2, .Products h2{ 
  margin-bottom: 20px; 
  text-align: center; 
  font-weight: 100; 
  font-size: 40px; 
} 
.category{ 
  padding: 20px; 
} 

.Products{ 
  padding: 30px 10px; 
} 

.container { 
   
  width: 100%; 
  max-width: 100%; 
  overflow: hidden; 
} 
 
.slider { 
  display: flex; 
  justify-content: space-between; 
  transition: transform 0.5s ease; 
} 
 
.item { 
  width: 19%; 
  text-align: center; 
  margin: 0 1%; 
} 

.item-product { 
  position: relative; 
  overflow: hidden; 
  width: 250px; 
  margin: 10px; 
  display: inline-block; 
  border-radius: 10px; 
  background-color: #f2f2f2dd; 
  flex: 0 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.282); 
} 

 
.item-product img { 
  display: block; 
  width: 100%; 
  height: 250px; 
  object-fit: contain; 
  transition: transform 0.3s ease;  
}
 
.item p, .item-product p { 
  margin-top: 10px; 
  font-size: 17px; 
  color: #555; 
  text-align: center; 
} 
.image-with-text__text { 
  margin-bottom: 50px; 
} 
.image-with-text__content{ 
  margin: 0; 
} 
.image-with-text__heading{ 
  font-family: "Avenir Next Rounded", sans-serif; 
  margin-bottom: 10px; 

} 
.button--secondary{ 
  color: #fff; 
  border-radius: 12px; 
  border: 1px solid #fff; 
  padding: 15px 20px; 
} 
 
/* Media Query for smaller screens */ 
@media (max-width: 990px) { 
  .about-img{ 
      max-width: 100% !important; 
      object-fit: cover; 
  } 
  .about-big{ 
      display: flex; 
      flex-direction: column !important; 
  } 
   
  .slider { 
    overflow-x: scroll; 
    scroll-snap-type: x mandatory; 
    -webkit-overflow-scrolling: touch; 
    display: flex; 
    gap: 10px; 
  } 
 
  .item{ 
      flex: 0 0 95%; /* Rasmni 95% gacha kattalashtirish */ 
      scroll-snap-align: start; 
    } 
  .item-product { 
      flex: 0 0 55%; /* Rasmni 95% gacha kattalashtirish */ 
      scroll-snap-align: start; 
    } 
 
  .item img, .item-product img { 
    width: 100%; 
  } 
} 

@media (max-width: 450px) { 
  .about-us{ 
    text-align: start; 
    padding: 25px 0; 
  } 
  .about-img { 
      max-width: 100% !important; 
      min-height: 200px; 
      object-fit: cover; 
  } 

  .about-content{ 
    padding: 10px; 
} 

.about-heading { 
  font-size: 30px; 
} 

.about-text { 
  font-size: 14px; 
   
} 
   
  .slider { 
    gap: 5px; 
  } 

  .item-product { 
      flex: 0 0 95%; /* Rasmni 95% gacha kattalashtirish */ 
      scroll-snap-align: center; 
  } 
} 
 

.sticky-top{ 
  padding: 20px 50px !important; 
} 

.view-all{ 
  background-color: #000; 
  color: #fff; 
  border-radius: 0.8em; 
  padding: 12px 15px;font-size: 1.5em;     
  letter-spacing: .1rem; 
  cursor: pointer; 
  font: inherit; 
  margin: 30px 0; 
} 

.about-us{ 
  text-align: start; 
  padding: 50px 0; 
  display: flex; 
  justify-content: center; 
  background-color: #000; 
  color: #fff; 

} 

.about-big{ 
  display: flex; 
  padding: 0 50px; 
  flex-direction: row; 
} 

.about-img{ 
  max-width: 45%; 
  border-radius: 20px 20px 20px 20px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
} 

.about-img img{ 
  margin: auto; 
  border-radius: 25px; 
  /* max-width: 70%; 100% bo‘lishi yaxshi ko‘rinadi */ 
  height: auto; 
  object-fit:cover; /* rasmni konteynerga sig‘dirib, ortiqchasini kesadi */ 
  max-width: 100%; 
  max-height: 100%; 
  display: block; 
 
} 


.about-content{ 
  /* width: 29%; */ 
  padding: 30px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.product-wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: -20px;
  margin-right: -20px;
}

.category-img-wrapper {
  background-color: #f2f2f2dd; 
  flex: 0 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.282); 
  border-radius: 10px;
  overflow: hidden; 
  width: 300px; 
}

.category-product { 
  margin: 10px; 
  display: inline-block;  
}

.category-product img { 
  display: block; 
  width: 100%; 
  height: 250px; 
  object-fit: contain; 
  transition: transform 0.3s ease;  
}

.category-price {
  font-weight: 500;
}

.category-product p { 
  margin-top: 10px; 
  font-size: 17px; 
  color: #555; 
  text-align: center; 
} 

.products-category {
  margin: 50px 0;
}

.category-item {
  padding: 30px 0;
}

.category-item {
  scroll-margin-top: 150px; 
}

@media (max-width: 500px) {
  .product-wrapper {
    gap: 15px;
    margin-bottom: -0;
    margin-right: -0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .category-img-wrapper {
    width: 175px;
  }

  .category-product img { 
    height: 150px; 
    object-fit: contain;
  }
  
  .category-product p { 
    font-size: 13px;  
  } 
  
  .products-category {
    margin: 30px 0;
  }
  
  .category-item {
    padding: 20px 0;
  }
  
  .category-item {
    scroll-margin-top: 100px; 
  }

  .category-heading {
    font-size: 30px;
    margin-bottom: 5px;
    text-align: center;
  }
}

@media (max-width: 455px) {
  .category-img-wrapper {
    width: 150px;
  }

  .category-product p { 
    max-width: 150px; 
    font-size: 12px; 
  } 
}

@media (max-width: 390px) {
  .category-img-wrapper {
    width: 125px;
  }

  .category-product p { 
    max-width: 125px; 
  } 
}

@media (max-width: 335px) {
  .category-img-wrapper {
    width: 105px;
  }

  .category-product p { 
    max-width: 105px; 
  } 
}