* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
}

a:hover {
  text-decoration: none;
}

.navbar {
  background-color: #000 !important;
  position: fixed;

}

.sticky-top {
  padding: 20px !important;

}

.navbar .nav-link,
.navbar .navbar-brand,
.navbar .dropdown-item {
  color: #fff !important;
}

.navbar-collapse {
  justify-content: end !important;
}

.navbar .nav-link:hover,
.navbar .dropdown-item:hover {
  color: #f39c12 !important;
  /* hover paytida sariq rang */
}

.custom-navbar {
  background-color: false !important;
  /* yarim shaffof qora fon */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.custom-navbar .nav-link,
.custom-navbar {
  color: #fff !important;
}

.dropdown-menu {
  background-color: #000 !important;
  color: #fff !important;
}

/* .base{ 
  text-align: center; 
} */
.navbar-brand {
  font-size: 25px !important;
  color: #fff !important;
}

.categories-and-Products h2,
.Products h2 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 40px;
}

.category {
  padding: 20px;
}

.Products {
  padding: 30px 10px;
}

.container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  justify-content: space-between;
  transition: transform 0.5s ease;
}

.item {
  width: 19%;
  text-align: center;
  margin: 0 1%;
}

.item-product {
  position: relative;
  overflow: hidden;
  width: 255px;
  margin: 10px;
  display: inline-block;
  flex: 0 0 auto;
}

.item-img-wrapper {
  width: 100%;
  background-color: #f2f2f2dd;
  border-radius: 10px;
}

.item img,
.item-product img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: contain;
  transition: transform 0.3s ease;
  border-radius: 15px;
}

.item p,
.item-product p {
  margin-top: 10px;
  font-size: 17px;
  color: #555;
  text-align: center;
}

.image-with-text__text {
  margin-bottom: 50px;
}

.image-with-text__content {
  margin: 0;
}

.image-with-text__heading {
  font-family: "Avenir Next Rounded", sans-serif;
  margin-bottom: 10px;

}

.button--secondary {
  color: #fff;
  border-radius: 12px;
  border: 1px solid #fff;
  padding: 15px 20px;
}

/* Media Query for smaller screens */
@media (max-width: 990px) {
  .about-img {
    max-width: 100% !important;
    object-fit: cover;
  }

  .about-big {
    display: flex;
    flex-direction: column !important;
  }

  .slider {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    display: flex;
    gap: 10px;
  }

  .item {
    flex: 0 0 95%;
    /* Rasmni 95% gacha kattalashtirish */
    scroll-snap-align: start;
  }

  .item-product {
    flex: 0 0 55%;
    /* Rasmni 95% gacha kattalashtirish */
    scroll-snap-align: start;
  }

  .item img,
  .item-product img {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .about-us {
    text-align: start;
    padding: 25px 0;
  }

  .about-img {
    max-width: 100% !important;
    min-height: 200px;
    object-fit: cover;
  }

  .about-content {
    padding: 10px;
  }

  .about-heading {
    font-size: 30px;
  }

  .about-text {
    font-size: 14px;

  }

  .slider {
    gap: 5px;
  }

  .item-product {
    flex: 0 0 95%;
    /* Rasmni 95% gacha kattalashtirish */
    scroll-snap-align: center;
  }
}


.sticky-top {
  padding: 20px 50px !important;
  padding-right: 30px !important;
}

.view-all {
  background-color: #000;
  color: #fff;
  border-radius: 0.8em;
  padding: 12px 15px;
  font-size: 1.5em;
  letter-spacing: .1rem;
  cursor: pointer;
  font: inherit;
  margin: 30px 0;
}

.about-us {
  text-align: start;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;

}

.about-big {
  display: flex;
  padding: 0 50px;
  flex-direction: row;
}

.about-img {
  max-width: 45%;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img img {
  margin: auto;
  border-radius: 25px;
  /* max-width: 70%; 100% bo‘lishi yaxshi ko‘rinadi */
  height: auto;
  object-fit: cover;
  /* rasmni konteynerga sig‘dirib, ortiqchasini kesadi */
  max-width: 100%;
  max-height: 100%;
  display: block;

}


.about-content {
  /* width: 29%; */
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
  /* 40 */
  flex-wrap: wrap;
  margin-bottom: -20px;
  margin-right: -20px;
}

.category-img-wrapper {
  background-color: #f2f2f2dd;
  flex: 0 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.282);
  border-radius: 10px;
  overflow: hidden;
  width: 220px;
}

.category-product {
  margin: 10px;
  display: inline-block;
  text-decoration: none;
}

.category-product img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.category-price {
  font-weight: 500;
}

.category-product p {
  margin-top: 10px;
  font-size: 17px;
  color: #555;
  text-align: center;
}

.category-product,
.category-product *,
.category-product:hover,
.category-product:hover * {
  text-decoration: none !important;
}


.products-category {
  margin: 50px 0;
}

.category-item {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-item {
  scroll-margin-top: 150px;
}

.product-controls {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.add-to-cart-btn {
  background-color: #000;
  /* Чёрная кнопка */
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #333;
}

.detail {
  margin: 75px 0;
}

.detail-left {
  background-color: #f2f2f2dd;
  flex: 0 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.282);
  border-radius: 10px;
  overflow: hidden;
  width: 500px;
  margin-bottom: 20px;
}

.detail-left img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.detail_container {
  display: flex;
  gap: 100px;
}

.detail-heading {
  margin-top: 15px;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}

.price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 500;
  margin: 15px 0;
}

.detail-category {
  font-size: 17px;
  line-height: 18px;
  font-weight: 600;
  margin: 15px 0;
}

.detail-desc {
  font-size: 17px;
  line-height: 22px;
  max-width: 500px;
}

@media (max-width: 500px) {

  .product-wrapper {
    gap: 15px;
    margin-bottom: -0;
    margin-right: -0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item-product {
    width: 175px;
    flex: 0 0 45%;
  }

  .item-img-wrapper img {
    height: 150px;
    object-fit: contain;
  }

  .category-img-wrapper {
    width: 175px;
  }

  .category-product img {
    height: 150px;
    object-fit: contain;
  }

  .category-product p {
    font-size: 13px;
  }

  .products-category {
    margin: 30px 0;
  }

  .category-item {
    padding: 20px 0;
    text-align: center;
  }

  .category-item {
    scroll-margin-top: 100px;
  }

  .category-heading {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .detail {
    margin: 40px 0;
  }
  
  .detail-left {
    width: 270px;
  }
  
  .detail-left img {
    height: 300px;
  }
  
  .detail_container {
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .detail-heading {
    font-size: 25px;
    line-height: 25px;
    text-align: center;
  }
  
  .detail-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .detail-price {
    font-size: 15px;
    line-height: 16px;
    text-align: center;
  }
  
  .detail-category {
    font-size: 15px;
    line-height: 16px;
    margin: 10px 0;
    text-align: center;
  }
  
  .detail-desc {
    font-size: 15px;
    line-height: 20px;
    max-width: 300px;
    text-align: center;
  }
}

select {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 4px;
}

select option {
  background-color: black;
  color: white;
}

select:focus {
  outline: none;
  border-color: #ccc;
}


@media (max-width: 455px) {
  .category-img-wrapper {
    width: 150px;
  }

  .category-product p {
    max-width: 150px;
    font-size: 12px;
  }
}

@media (max-width: 390px) {
  .category-img-wrapper {
    width: 125px;
  }

  .category-product p {
    max-width: 125px;
  }
}

@media (max-width: 335px) {
  .category-img-wrapper {
    width: 105px;
  }

  .category-product p {
    max-width: 105px;
  }
}

.size-box {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transform: translateY(0);
}

.size-box:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.size-box.active {
  background-color: #000;
  color: #fff;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
